# Build and deploy Python app to Azure Web App
name: Build and deploy Python app to Azure Web App - hackutoo-backend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Create virtual environment and install dependencies
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: Zip artifact for deployment
        run: |
          zip -r release.zip . -x "venv/*" ".git/*" ".github/*" "frontend/*" ".gitignore" "*.md"

      - name: Upload artifact for deployment jobs
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app
      
      - name: Unzip artifact for deployment
        run: unzip release.zip
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_C40E73C7E53B446AA46BE0F1003FEB84 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_E17BA456909B4359BC0184B34C338F0B }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_6FDD3D22B41B4E3A8DBDD757E96E0BA9 }}

      - name: Disable Oryx build
        run: |
          az webapp config appsettings set --name hackutoo-backend --resource-group hackutoo --settings SCM_DO_BUILD_DURING_DEPLOYMENT=false
      
      - name: Set startup command
        run: |
          az webapp config set --name hackutoo-backend --resource-group hackutoo --startup-file "bash startup.sh"

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'hackutoo-backend'
          slot-name: 'Production'
          package: '.'
